body{background-color: #221e1d;color: #ccc;font-family:"Source Code Pro",Calibri; font-size:18px;line-height:1.5em;}
header,main,aside,footer{display:block;max-width:80em;margin:0 auto;}
header{text-align:center;}
header h1 a{display:block;margin:2em;}
{list-style:none;padding:0;}
a:link, a:visited{text-align:center;text-decoration:underline;color:#feb70f;}
a:active, a:hover{text-align:center;text-decoration:underline;color:#0096ff;}
footer{font-size:x-small;padding-top:4em;text-align:center}

strong {
    display: inline-block;
    width: 60px;
    border: 1px solid #000;
    text-align: center;
}

team{display:block;max-width:42em;margin:0 auto; text-align:center;}

/* Three columns side by side */
.column {
    text-align:center;
    float: left;
    padding: 0 8px;
    width: 51.4%;
    margin-bottom: 50px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
	width: 100%;
	display: block;
    }
}


/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.content {
    min-height: 350px;
    margin: 0%;
}

img.medium {
    height: 400px;
}
